/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variaveis */
:root {
  /* font conf */
  --font: "Inter", sans-serif;
  /* weight font conf */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* colors */
  --primary-color: #764af1;
  --secondary-color: #9772fb;
  --dark-color: #19282f;
  --gray-color: #a5a5a5;
  --gray-light-color: #f2f2f2;
  --white-color: #ffffff;
  --muted-color: #777777;
  --focusable-color: #EEF1FF;

  /* border-radius */
  --b-rad: 3px;
  /* header-height */
  --header-height: 60px;
  /* footer-height */
  --footer-height: 60px;
}

html {
  font-family: var(--font);
}

body{
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  margin: 0 4rem;
}

/* header */
.navbar {
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  width: 100%;
  height: var(--header-height);
}

.nav-bar{
  width: 100%;
}

.nav-bar,
.list__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social__icons {
  margin-left: 1rem;
}

/* main content */
main {
  background-color: var(--gray-light-color);
}

.content{
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.boxes__text {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

textarea {
  width: 600px;
  height: 400px;
  outline: none;
  border: 1px solid var(--gray-color);
  padding: 1rem;
}

textarea:focus{
  border: 1px solid var(--secondary-color);
}

.input__box{
  display: flex;
  position: relative;
  width: 600px;
  height: 400px;
}

.btn__copy__img{
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.text__input__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
  width: 100%;
  height: 100%;
}

.input__box > .text__input__box{
  position: absolute;
  margin: auto;
}

.text__input__box > img{
  margin-bottom: 1rem;
}

.text__input__box > h2,
.text__input__box > p{
  color: var(--muted-color);
}

.btn {
  width: 13.125rem;
  height: 3rem;
  outline: none;
  border: none;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.btn__encripty {
  background-color: var(--primary-color);
}

.btn__decripty {
  background-color: var(--secondary-color);
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--dark-color);
  position: static;
  bottom: 0;
  height: var(--footer-height);
  color: var(--white-color);
  font-weight: var(--fw-light);
  font-size: 0.9rem;
}
